# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib
pinggo*
# Test binary, built with `go test -c`
*.test
*.txt
# Output of the go coverage tool, specifically when used with LiteIDE
*.out
**副本**/**
# Dependency directories (remove the comment below to include it)
# vendor/

# Go workspace file
go.work
go.work.sum

# IDEs/Editors
.vscode/
.idea/
*.swp
*.swo
*.sublime-project
*.sublime-workspace

# OS files
Thumbs.db
desktop.ini
.DS_Store

# Project specific
pinggo.db
pinggo.db-journal
pinggo.db-shm
pinggo.db-wal
config.yaml
*.log
